@model AttentionAxia.DTOs.LoginDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--LOGO WEB-->
    <link href="~/adminlte/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--Animate Css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    @Styles.Render("~/adminlte/css")
    @Styles.Render("~/alertifyjs/css")
    <!-- Google Font: Source Sans Pro -->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary animate__animated animate__backInDown">
            <div class="card-header text-center">
                <div class="login-logo">
                    <img src="~/adminlte/img/Splash-Movistar.png" width="150" />
                </div>
                <div class="login-logo">
                    <a href="#"><b>AXIA</b> solicitudes</a>
                </div>
            </div>
            <div class="card-body login-card-body">
                <div class="alert alert-danger alert-dismissible fade show d-none" id="alert-required" role="alert">
                    <span class="fa fa-times-circle text-white"> Los campos son requeridos.</span>
                </div>
                <div class="login-logo">
                    <h4>Login</h4>
                </div>
                <form>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.EmailOrNickName, new { tabindex = 1, @required = "", @placeholder = "usuario", @class = "form-control focusNext" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(model => model.Password, new { tabindex = 2, @required = "", @placeholder = "Contraseña", @class = "form-control focusNext" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="btn-login" type="submit" class="btn btn-primary btn-block">
                            <i class="fas fa-sign-in-alt mr-2"></i>
                            <strong>Iniciar sesión</strong>
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center d-none" id="status">
                <i class="fas fa-spinner fa-spin fa-2x"></i>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Alertify")
    <script>
        $(document).ready(function (e) {
            let error = '<span class="fa fa-times-circle text-danger"> Error</span>';
            $('#EmailOrNickName').change(function () {
                if ($(this).val()!='') {
                    $('#alert-required').addClass('d-none');
                }
            });

            $('#Password').change(function () {
                if ($(this).val()!='') {
                    $('#alert-required').addClass('d-none');
                }
            });

            $('#btn-login').click(function (e) {
                e.preventDefault();
                $('#alert-required').addClass('d-none');
                const emailONick = $('#EmailOrNickName').val();
                const pass = $('#Password').val();
                if (!emailONick || !pass) {
                    $('#alert-required').removeClass('d-none');
                    return;
                }
                $(this).prop("disabled", true);
                let url ='@Url.Action("ValidUser", "Account")';
                let data = { email: emailONick };
                $.post(url, data).done(function (data) {
                    if (!data.IsSuccess) {
                        let message = data.Message;
                        alertify.alert(error, message);
                        $('#btn-login').removeAttr('disabled');
                    }
                    else {
                        let url ='@Url.Action("Login", "Account")';
                        data = { EmailOrNickName: emailONick, Password: pass }
                        $.post(url, data).done(function (data) {
                            if (!data.IsSuccess) {
                                let message = data.Message;
                                alertify.alert(error, message);
                                $('#btn-login').removeAttr('disabled');
                            }
                            else {
                                let url = "@Url.Action("Index","Home")";
                                window.location.href = url;
                            }
                        });
                    }
                });
            });
            $("input").keypress(function (evt) {

                // Si el evento NO es una tecla Enter
                if (evt.key !== 'Enter') {
                    return;
                }
                let element = evt.target;
                // Si el evento NO fue lanzado por un elemento con class "focusNext"
                if (!element.classList.contains('focusNext')) {
                    return;
                }
                // AQUI logica para encontrar el siguiente
                let tabIndex = element.tabIndex + 1;
                var next = document.querySelector('[tabindex="' + tabIndex + '"]');
                // Si encontramos un elemento
                if (next) {
                    next.focus();
                    evt.preventDefault();
                }
            });
            $(document).ajaxStart(function (e) {
                $('#status').removeClass('d-none');
            });
            $(document).ajaxComplete(function (e) {
                $('#status').addClass('d-none');
            });
        });
    </script>
</body>
</html>
