@model AttentionAxia.ViewModels.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--LOGO WEB-->
    <link href="~/adminlte/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/alertifyjs/css")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>AXIA</b> solicitudes</a>
        </div>
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Login</p>
                <div class="form-row justify-content-lg-start ml-3">
                    @Html.ValidationMessageFor(model => model.EmailOrNickName, "", new { @class = "text-danger" })
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(model => model.EmailOrNickName, new { @placeholder = "Usuario o Email", @class = "form-control" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-lg-start ml-3">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="input-group mb-3">
                    @Html.PasswordFor(model => model.Password, new { @placeholder = "Contraseña", @class = "form-control" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button id="btn-login" class="btn btn-secondary btn-block">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                        <strong>Iniciar sesión</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Alertify")
    <script>
        $(function () {
        });
    </script>
</body>
</html>
