@model AttentionAxia.DTOs.LoginDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--LOGO WEB-->
    <link href="~/adminlte/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/adminlte/css")
    @Styles.Render("~/alertifyjs/css")
    <!--Animate Css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary animate__animated animate__backInDown">
            <div class="card-header text-center">
                <div class="login-logo">
                    <img src="~/adminlte/img/Splash-Movistar.png" width="150" />
                </div>
                <div class="login-logo">
                    <a href="#"><b>AXIA</b> solicitudes</a>
                </div>
            </div>
            <div class="card-body login-card-body">
                <div class="alert alert-danger alert-dismissible fade show d-none" id="alert-required" role="alert">
                    <span class="fa fa-times-circle text-white"> Los campos son requeridos.</span>
                </div>
                <div class="login-logo">
                    <h4>Login</h4>
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(model => model.EmailOrNickName, new { @required = "", @placeholder = "usuario", @class = "form-control" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.PasswordFor(model => model.Password, new { @required = "", @placeholder = "Contraseña", @class = "form-control" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="btn-login" class="btn btn-primary btn-block">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                        <strong>Iniciar sesión</strong>
                    </button>
                </div>
            </div>
            <div class="card-footer text-center d-none" id="status">
                <i class="fas fa-spinner fa-spin fa-2x"></i>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Alertify")
    <script>
        $(document).ready(function (e) {
            let error = '<span class="fa fa-times-circle text-danger"> Error</span>';
            $('#btn-login').click(function (e) {
                $('#alert-required').addClass('d-none');
                const emailONick = $('#EmailOrNickName').val();
                const pass = $('#Password').val();
                if (!emailONick || !pass) {
                    $('#alert-required').removeClass('d-none');
                    return;
                }
                $(this).prop("disabled", true);
                let url ='@Url.Action("ValidUser", "Account")';
                let data = { email: emailONick };
                $.post(url, data).done(function (data) {
                    if (!data.IsSuccess) {
                        let message = data.Message;
                        alertify.alert(error, message);
                    }
                    else {
                        let url ='@Url.Action("Login", "Account")';
                        data = { EmailOrNickName: emailONick, Password: pass }
                        console.log(data);
                        $.post(url, data).done(function (data) {
                            if (!data.IsSuccess) {
                                let message = data.Message;
                                alertify.alert(error, message);
                                $('#btn-login').removeAttr('disabled');
                            }
                            else {
                                let url = "@Url.Action("Index","Home")";
                                window.location.href = url;
                            }
                        });
                    }
                });
            });

            $(document).ajaxStart(function (e) {
                $('#status').removeClass('d-none');
            });
            $(document).ajaxComplete(function (e) {
                $('#status').addClass('d-none');
            });
        });
    </script>
</body>
</html>
