@model AttentionAxia.DTOs.ListarSolicitudDTO

@{
    ViewBag.Title = "Solicitudes Axia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "FormularioFiltros" }))
                {
                    <div class="callout callout-info">
                        <h5><i class="fas fa-filter mr-3"></i>Filtros</h5>
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-6 mb-3">
                                <label class="control-label col-lg-4">Célula</label>
                                @Html.DropDownList("Celula", ViewBag.DDL_Celulas as SelectList, "--Seleccione--", new { @class = "form-control" })
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label col-lg-4">Línea</label>
                                @Html.DropDownList("Linea", ViewBag.DDL_Lineas as SelectList, "--Seleccione--", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-6 mb-3">
                                <label class="control-label col-lg-4">Responsable</label>
                                @Html.DropDownList("Responsable", ViewBag.DDL_Responsables as SelectList, "--Seleccione--", new { @class = "form-control", disabled = "disabled" })
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label col-lg-4"># Sprint de inicio</label>
                                @Html.DropDownList("Sprint", ViewBag.DDL_Sprints as SelectList, "--Seleccione--", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-4 mb-3">
                                <label class="control-label col-lg-4">Estado</label>
                                @Html.DropDownList("Estado", ViewBag.DDL_Estados as SelectList, "--Seleccione--", new { @class = "form-control" })
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label class="control-label col-lg-6">Rango fechas (sprint inicio)</label>
                                @{
                                    var fechaFiltro = TempData[AttentionAxia.Helpers.GetConstants.FILTRO_RANGO_FECHA] != null
                                        ? TempData[AttentionAxia.Helpers.GetConstants.FILTRO_RANGO_FECHA].ToString() : string.Empty;
                                }
                                <input type="text" class="form-control" name="FiltroFecha" value="@fechaFiltro" id="DateFilter" />
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label class="control-label col-lg-6">Items por Página</label>
                                @Html.DropDownList("PageSize", ViewBag.DDL_Items as SelectList, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-4 text-center">
                            <div class="col d-flex justify-content-lg-start">
                                <a class="btn btn-warning" onclick="Limpiar()" id="btn_limpiar"><i class="fa fa-eraser mr-2"></i><strong>Limpiar</strong></a>
                            </div>
                            <div class="col d-flex justify-content-lg-end">
                                <button type="submit" class="btn btn-success" id="btn_buscar"><i class="fa fa-search mr-2"></i><strong>Buscar</strong></button>
                            </div>
                        </div>
                    </div>
                }
                <div class="invoice p-3 mb-3" id="list_solicitudes">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i> Solicitudes.
                                <small class="float-right">@DateTime.Now.ToString("dd/MM/yyyy")</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    @if (User.IsInRole(AttentionAxia.Helpers.EnumConfig.GetDescription(AttentionAxia.Helpers.RolesEnum.AdministradorAxia)))
                    {
                        <div class="row mb-4">
                            <a href="@Url.Action("Create", "Solicitud")" class="btn btn-primary ml-2 mb-2 mt-2"><i class="fa fa fa-plus mr-2"></i><strong>Agregar solicitud</strong></a>
                        </div>
                    }
                    @if (Model.TotalDeRegistros > 0)
                    {
                        <div class="row mb-4 d-flex justify-content-center mr-5">
                            <div id="paginador-container">
                                @{ Html.RenderPartial("_PartialPaginador", Model); }
                            </div>
                        </div>
                    }
                    @if (Model.TotalDeRegistros == 0)
                    {
                        <div class="row mb-4 d-flex justify-content-center mr-5">
                            <div class="alert alert-default-info alert-dismissible">
                                <h5>
                                    <i class="icon fas fa-info-circle"></i>
                                    No se encontraron registros.
                                </h5>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead class="text-center">
                                        <tr class="text-center">
                                            <th>
                                                Responsable
                                            </th>
                                            <th>
                                                Célula
                                            </th>
                                            <th>
                                                Línea
                                            </th>
                                            <th>
                                                Iniciativa
                                            </th>
                                            <th>
                                                Sprint inicio
                                            </th>
                                            <th>
                                                Sprint fin
                                            </th>
                                            <th>
                                                Estado
                                            </th>
                                            <th>
                                                Archivo
                                            </th>
                                            @if (User.IsInRole(AttentionAxia.Helpers.EnumConfig.GetDescription(AttentionAxia.Helpers.RolesEnum.AdministradorAxia)))
                                            {
                                                <th>
                                                    Fecha Creación
                                                </th>
                                                <th>
                                                    Fecha de inicio
                                                </th>
                                                <th>
                                                    Fecha Finalización
                                                </th>
                                                <th>
                                                    Días planeados
                                                </th>
                                                <th>
                                                    Lead Time
                                                </th>
                                                <th>
                                                    Cycle Time
                                                </th>
                                            }
                                            <th>
                                                Progreso %
                                            </th>
                                            @if (User.IsInRole(AttentionAxia.Helpers.EnumConfig.GetDescription(AttentionAxia.Helpers.RolesEnum.AdministradorAxia)))
                                            {
                                                <th>
                                                    Cumplimiento %
                                                </th>
                                                <th class="text-center">
                                                    Acciones
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.Solicitudes)
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Responsable)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Celula)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Linea)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Iniciativa)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SprintInicioFullText)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SprintFinFullText)
                                            </td>
                                            <td>
                                                <span class="badge badge-pill" style="background-color:@item.ColorEstado">
                                                    @Html.DisplayFor(modelItem => item.Estado)
                                                </span>
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.RutaArchivo))
                                                {
                                                    <a class="btn btn-sm btn-info" href="~/REPOSITORIO_ARCHIVOS/@item.RutaArchivo">
                                                        <i class="fa fa-eye mr-2"></i>
                                                        @if (item.NombreArchivo.Length > 30)
                                                        {
                                                            var nombreArchivo = item.NombreArchivo.Substring(0, 30) + "...";
                                                            <span>@nombreArchivo</span>
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(modelItem => item.NombreArchivo)
                                                        }
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span>N/A</span>
                                                }
                                            </td>
                                            @if (User.IsInRole(AttentionAxia.Helpers.EnumConfig.GetDescription(AttentionAxia.Helpers.RolesEnum.AdministradorAxia)))
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DateProcess)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DateFinish)
                                                </td>
                                                <td>
                                                    @if (item.CycleTimeEsperado.HasValue)
                                                    {
                                                        if (item.CycleTimeEsperado.Value == 1)
                                                        {
                                                            <span>@item.CycleTimeEsperado.Value Día</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.CycleTimeEsperado.Value Días</span>
                                                        }

                                                    }
                                                    else
                                                    {

                                                        <span>N/A</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.LeadTime.Value == 1)
                                                    {
                                                        <span>@item.LeadTime.Value Día</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@item.LeadTime.Value Días</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.CycleTimeReal.HasValue)
                                                    {
                                                        if (item.CycleTimeReal.Value == 1)
                                                        {
                                                            <span>@item.CycleTimeReal.Value Día</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.CycleTimeReal.Value Días</span>
                                                        }

                                                    }
                                                    else
                                                    {

                                                        <span>N/A</span>
                                                    }
                                                </td>
                                            }
                                            @{
                                                var progreso = $"{item.Avance}%";
                                            }
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@item.Avance" aria-valuemin="0" aria-valuemax="100" style="width: @progreso">
                                                    </div>
                                                </div>
                                                <small>
                                                    @item.Avance% completo
                                                </small>
                                            </td>

                                            @if (User.IsInRole(AttentionAxia.Helpers.EnumConfig.GetDescription(AttentionAxia.Helpers.RolesEnum.AdministradorAxia)))
                                            {

                                                <td>
                                                    @if (!item.PorcentajeDeCumplimiento.HasValue)
                                                    {
                                                        <span>N/A</span>
                                                    }
                                                    else
                                                    {
                                                        var porcentajeCumpliento = $"{item.PorcentajeDeCumplimiento}%";
                                                        var color = item.PorcentajeDeCumplimiento.Value <= 70 ? "badge-danger"
                                                            : item.PorcentajeDeCumplimiento.Value > 70 && item.PorcentajeDeCumplimiento <= 99 ? "badge-warning" : "badge-success";
                                                        <span class="badge badge-pill @color pt-2 pl-3 pr-3">
                                                            <label>@porcentajeCumpliento</label>
                                                        </span>
                                                    }
                                                </td>
                                                <td class="dropdown">
                                                    <button class="btn btn-dark dropdown-toggle" type="button" id="acciones-@item.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-hand-point-right mr-2"></i>Seleccione
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="acciones-@item.Id">
                                                        <a class="dropdown-item" href="@Url.Action("Edit","Solicitud", new { id = item.Id })"><i class="fa fa-pencil-alt mr-2"></i>Editar</a>
                                                        <a class="dropdown-item" onclick="ShowModalEdit(@item.Id, @item.EstadoId,@item.Avance)"><i class="fa fa-pencil-alt mr-2"></i>Editar estado</a>
                                                        <a class="dropdown-item" href="@Url.Action("Delete","Solicitud", new { id = item.Id })"><i class="fas fa-trash-alt mr-2"></i>Eliminar</a>
                                                    </div>
                                                </td>

                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<div id="modalEditEstado" class="modal fade" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cambiar Estado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <input type="hidden" name="id" id="modal_id" />
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label col-md-12">Estado</label>
                            @Html.DropDownList("modal_estado", ViewBag.DDL_Estados as SelectList, new { @class = "form-control", @required = "" })
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-12">Avance</label>
                            <input class="avance" type="text" id="modal_avance" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light text-dark" data-dismiss="modal">
                    <i class="fa fa-arrow-alt-circle-left text-dark mr-3"></i>Cancelar
                </button>
                <button id="btnSaveEstado" type="button" class="btn btn-primary" onclick="GuardarEdicionEstado()" data-dismiss="modal">
                    <i class="fa fa-save mr-3"></i>Guardar
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        let error = '<span class="fa fa-times-circle text-danger"> Error</span>';
        let warning = '<span class="fa fa-exclamation-circle text-warning"> Advertencia</span>';
        var originalBtnContent = $('#btn-save').html();
        $('.avance').ionRangeSlider({
            min: 0,
            max: 100,
            type: 'single',
            step: 1,
            postfix: '%',
            prettify: false,
            hasGrid: true,
            disable: false
        });
        $(function () {
            $('input[name="FiltroFecha"]').daterangepicker({
                opens: 'left',
                locale: {
                    format: 'DD/MM/YYYY',
                    cancelLabel: 'Cancelar',
                    applyLabel: 'Aplicar',
                    daysOfWeek: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                    monthNames: [
                        'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                    ]
                }
            });
        });

        $(document).ready(function () {
            let linea = $("#Linea").val();
            if (linea > 0) {
                $('#Responsable').removeAttr('disabled');
            }
            $("#Linea").change(function () {
                // VACIAMOS EL DropDownList
                $("#Responsable").empty();
                let linea = $("#Linea").val().length;
                if (linea == 0) {
                    $("#Responsable").append("<option value>--Seleccione--</option>")
                    return;
                }
                GetResponsables($("#Linea").val());
            });
        });

        function GetResponsables(lineaid) {
            let url = "@Url.Action("ConsultaResponsables", "Solicitud")";
            $.get(url, { lineaId: lineaid }, function (data) {
                $('#Responsable').removeAttr('disabled');
                $("#Responsable").append("<option value> -- Seleccione --</option>")
                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(data, function (index, row) {
                    $("#Responsable").append("<option value='" + row.Id + "'>" + row.Nombre + "</option>")
                });
            });
        }

        function Limpiar() {
            $("#Celula").val("");
            $("#Linea").val("");
            $("#Responsable").val("");
            $("#Sprint").val("");
            $("#Estado").val("");
            $("#DateFilter").val("");
        }
        function ShowModalEdit(id, estadoId, avance) {
            $('#modal_id').val(id);
            $('#modal_estado').val(estadoId);
             var slider = $('.avance').data("ionRangeSlider");
             if (slider) {
                 slider.update({from: avance});
             }
            $('#modalEditEstado').modal('show');
        };

        function GuardarEdicionEstado() {
            let error = '<span class="fa fa-times-circle text-danger"> Error</span>';
            var originalBtnContent = $('#btnSaveEstado').html();
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms).forEach(function (form) {
                if (form.checkValidity()) {
                    form.classList.add('was-validated')
                    $('#btnSaveEstado').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Guardando...');
                    $('#btnSaveEstado').prop("disabled", true);
                    let id_estado = $('#modal_estado').val();
                    let id_edit = $('#modal_id').val();
                    let avance_val = $('#modal_avance').val();
                    let url = "@Url.Action("EditSolicitudByState", "Solicitud")";
                    let data = { SolicitudId: id_edit, EstadoId: id_estado, Avance: avance_val };
                    $.post(url, data).done(function (data) {
                        if (data.IsSuccess) {
                            window.location.href = "@Url.Action("Index", "Solicitud")";;
                        } else {
                            alertify.alert(error, data.Message);
                            $('#btnSaveEstado').html(originalBtnContent);
                            $('#btnSaveEstado').removeAttr('disabled');
                        }
                    }).fail(function (errorCode) { alertify.alert(error, errorCode) });
                }
                form.classList.add('was-validated');
            });
        }
    </script>
}
