@model AttentionAxia.DTOs.ListarSolicitudDTO

@{
    ViewBag.Title = "Solicitudes Axia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "FormularioFiltros" }))
                {
                    <div class="callout callout-info">
                        <h5><i class="fas fa-filter mr-3"></i>Filtros</h5>
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-6 mb-3">
                                <label class="control-label col-lg-4">Célula</label>
                                @Html.DropDownList("Celula", ViewBag.DDL_Celulas as SelectList, "--Seleccione--", new { @class = "form-control" })
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label col-lg-4">Línea</label>
                                @Html.DropDownList("Linea", ViewBag.DDL_Lineas as SelectList, "--Seleccione--", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-6">
                                <label class="control-label col-lg-4">Responsable</label>
                                @Html.DropDownList("Responsable", new SelectList(""), "--Seleccione--", new { @class = "form-control", disabled = "disabled" })
                            </div>
                            <div class="col-lg-6 mb-3">
                                <label class="control-label col-lg-4"># Sprint</label>
                                @Html.DropDownList("Sprint", ViewBag.DDL_Sprints as SelectList, "--Seleccione--", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-2 mb-3">
                                <label class="control-label col-lg-4">Estado</label>
                                @Html.DropDownList("Estado", ViewBag.DDL_Estados as SelectList, "--Seleccione--", new { @class = "form-control" })
                            </div>
                            <div class="col-lg-5 mb-3">
                                <label class="control-label col-lg-6">Rango fechas sprint</label>
                                <input type="text" class="form-control" name="FiltroFecha" id="DateFilter" />
                            </div>
                        </div>
                        <div class="row mb-4 text-center">
                            <div class="col d-flex justify-content-lg-start">
                                <a class="btn btn-warning" onclick="Limpiar()" id="btn_limpiar"><i class="fa fa-eraser mr-2"></i><strong>Limpiar</strong></a>
                            </div>
                            <div class="col d-flex justify-content-lg-end">
                                <button type="submit" class="btn btn-success" id="btn_buscar"><i class="fa fa-search mr-2"></i><strong>Buscar</strong></button>
                            </div>
                        </div>
                    </div>
                }
                <div class="invoice p-3 mb-3" id="list_solicitudes">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i> Solicitudes.
                                <small class="float-right">@DateTime.Now.ToString("dd/MM/yyyy")</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    @if (User.IsInRole(AttentionAxia.Helpers.EnumConfig.GetDescription(AttentionAxia.Helpers.RolesEnum.AdministradorAxia)))
                    {
                        <div class="row mb-4">
                            <a href="@Url.Action("Create", "Solicitud")" class="btn btn-primary ml-2 mb-2 mt-2"><i class="fa fa fa-plus mr-2"></i><strong>Agregar solicitud</strong></a>
                        </div>
                    }
                    <div class="row mb-4 d-flex justify-content-center mr-5">
                        <div id="paginador-container">
                            @{ Html.RenderPartial("_PartialPaginador", Model); }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Responsable
                                        </th>
                                        <th>
                                            Célula
                                        </th>
                                        <th>
                                            Línea
                                        </th>
                                        <th>
                                            Iniciativa
                                        </th>
                                        <th>
                                            Sprint inicio
                                        </th>
                                        <th>
                                            Sprint fin
                                        </th>
                                        <th>
                                            Fecha inicio sprint
                                        </th>
                                        <th>
                                            Fecha fin sprint
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>
                                            Avance %
                                        </th>
                                        @if (User.IsInRole(AttentionAxia.Helpers.EnumConfig.GetDescription(AttentionAxia.Helpers.RolesEnum.AdministradorAxia)))
                                        {
                                            <th class="text-center">
                                                Acciones
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                @foreach (var item in Model.Solicitudes)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Responsable)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Celula)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Linea)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Iniciativa)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SprintInicioFullText)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SprintFinFullText)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaInicialSprint)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaFinSprint)
                                        </td>
                                        <td>
                                            <span class="badge badge-pill" style="background-color:@item.ColorEstado">
                                                @Html.DisplayFor(modelItem => item.Estado)
                                            </span>
                                        </td>
                                        <td>
                                            <input class="slider" type="text" name="Avance" value="@item.Avance">
                                        </td>
                                        @if (User.IsInRole(AttentionAxia.Helpers.EnumConfig.GetDescription(AttentionAxia.Helpers.RolesEnum.AdministradorAxia)))
                                        {
                                            <td class="text-center">
                                                <a href="@Url.Action("Edit","Solicitud", new { id = item.Id })" class="text-center btn btn-outline-dark mb-2"><i class="fa fa-pencil-alt"></i></a>
                                                <a onclick="EditarEstado(@item.EstadoId,@item.Avance)" class="text-center btn btn-light mb-2">
                                                    <i class="fa fa-pencil-alt"></i>
                                                    <i class="fas fa-sad-tear fa-sm"></i>
                                                </a>
                                                <a href="@Url.Action("Delete","Sprint", new { id = item.Id })" class="text-center btn btn-outline-danger mb-2"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<div id="modalEditEstado" class="modal fade" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cambiar Estado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label col-md-12">Estado</label>
                            @Html.DropDownList("modal_estados", ViewBag.DDL_Estados as SelectList, new { @class = "form-control", @required = "" })
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-12">Avance</label>
                            <input class="avance" type="text" id="modal_avance">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light text-dark" data-dismiss="modal"><i class="fa fa-arrow-alt-circle-left text-dark mr-3"></i>Cancelar</button>
                <button id="btnSaveEstado" type="button" class="btn btn-primary"><i class="fa fa-save mr-3"></i>Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        let error = '<span class="fa fa-times-circle text-danger"> Error</span>';
        let warning = '<span class="fa fa-exclamation-circle text-warning"> Advertencia</span>';
        var originalBtnContent = $('#btn-save').html();
        $('.slider').ionRangeSlider({
            min: 0,
            max: 100,
            from: 0,
            type: 'single',
            step: 1,
            postfix: '%',
            prettify: false,
            hasGrid: true,
            disable: true
        });
        $('.avance').ionRangeSlider({
            min: 0,
            max: 100,
            from: 0,
            type: 'single',
            step: 1,
            postfix: '%',
            prettify: false,
            hasGrid: true
        });
        $(function () {
            $('input[name="FiltroFecha"]').daterangepicker({
                opens: 'left'
            });
        });

        function Limpiar() {
            var formulario = document.getElementById("formularioFiltros");

            // Resetear los valores de los campos del formulario
            formulario.reset();
            // Deshabilitar el campo de Responsable
            var responsable = formulario.querySelector("#Responsable");
            responsable.disabled = true;
            responsable.value = "";
        }
        function EditarEstado(estadoId, avance) {
            $('#modal_estados').val(estadoId);
            $('#modal_avance').val(avance);
            $('#modalEditEstado').modal('show');
        }
    </script>
}
