@model IEnumerable<AttentionAxia.Models.Sprint>

@{
    ViewBag.Title = "Sprints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sprints</h2>
<div class="row mb-4">
    <a href="@Url.Action("Create","Sprint")" class="btn btn-primary ml-5  mb-2 mt-2"><i class="fa fa fa-plus mr-2"></i><strong>Agregar Sprints</strong></a>
    <a onclick="DeleteMultiple()" class="btn btn-outline-danger ml-5 mb-2 mt-2"><i class="fa fa fa-trash mr-2"></i><strong>Eliminar multiples sprints por periodo</strong></a>
</div>
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.FechaGeneracion)
        </th>
        <th class="text-center">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>''
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td class="text-center">
                @{
                    var fechaGeneracion = DateTime.Parse(item.FechaGeneracion.ToString());
                }
                <label class="text-black-50">@fechaGeneracion.ToString("yyyy")</label>
            </td>
            <td class="text-center">
                <a href="@Url.Action("Edit","Sprint", new { id = item.Id })" class="text-center btn btn-outline-dark mb-2"><i class="fa fa-pencil-alt"></i></a>
                <a href="@Url.Action("Delete","Sprint", new { id = item.Id })" class="text-center btn btn-outline-danger mb-2"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    }
</table>


<div id="modalDeleteMultiple" class="modal fade" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Large Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label class="control-label col-md-12">Periodo del sprint</label>
                            <select class="select form-control" name="Period" id="Period">
                                <option value="1Q">1Q</option>
                                <option value="2Q">2Q</option>
                                <option value="3Q">3Q</option>
                                <option value="4Q">4Q</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <label class="control-label col-md-12">Año Del Periodo</label>
                            @Html.DropDownList("Year", ViewBag.DDL_Years as SelectList, new { @class = "form-control", @required = "" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light text-dark" data-dismiss="modal"><i class="fa fa-arrow-alt-circle-left text-dark mr-3"></i>Cancelar</button>
                <button id="btnDeleteMultiple" type="button" class="btn btn-danger"><i class="fa fa-trash-alt mr-3"></i>Eliminar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts{
    <script type="text/javascript">
        var originalBtnContent = $('#btnDeleteMultiple').html();
        function DeleteMultiple() {
            $(".needs-validation").removeClass("was-validated")
            $("#modalDeleteMultiple").modal("show");
        }

        $("#btnDeleteMultiple").on("click", function () {
            $('#btnDeleteMultiple').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Eliminando...');
            $('#btnDeleteMultiple').prop("disabled", true);
            let url = "@Url.Action("Index", "Sprint")";
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms).forEach(function (form) {

                if (form.checkValidity()) {
                    console.log("Listo para eliminar");
                    var request_body = {
                        Year: $("#Year").val(),
                        Period: $("#Period").val()
                    };
                    jQuery.ajax({
                        url: '@Url.Action("DeleteMultiple", "Sprint")',
                        type: "POST",
                        data: JSON.stringify(request_body),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.IsSuccess) {
                                window.location.href = url;
                                $("#modalDeleteMultiple").modal("hide");
                            } else {
                                window.location.href = url;
                                $("#modalDeleteMultiple").modal("hide");
                            }
                            $('#btnDeleteMultiple').html(originalBtnContent);
                            $('#btnDeleteMultiple').removeAttr('disabled');
                        },
                        error: function (error) {
                        },
                        beforeSend: function () {
                        }
                    });

                } else {
                    console.log("no paso validación")
                }

                form.classList.add('was-validated')
            })

        })
    </script>
}
