@model IEnumerable<AttentionAxia.Models.Sprint>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear", "Create", null, new {@class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaGeneracion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.FechaGeneracion)
        </td>
        <td class="text-center">
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-sencondary" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>
