@model AttentionAxia.Models.Sprint

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de sprint</h2>

<div>
    <h4>Sprints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaGeneracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaGeneracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class="btn btn-primary"}) |
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-secondary" })
</p>
