@model AttentionAxia.Models.Responsables

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de responsables</h2>

<div>
    <h4>Responsables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelulaPertenceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelulaPertenceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaPerteneceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaPerteneceId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"}) |
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-secondary" })
</p>
