@model IEnumerable<AttentionAxia.Models.Responsable>

@{
    ViewBag.Title = "Responsables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de responsables</h2>

<a href="@Url.Action("Create","Responsables")" class="btn btn-primary mb-2 mt-2"><i class="fa fa fa-plus mr-2"></i><strong>Agregar Responsable</strong></a>
<table class="table">
    <tr>
        <th class="text-center">            
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th class="text-center">
            Linea
        </th>
        <th class="text-center">
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.LineaPertenece.Descripcion)
        </td>
        <td class="text-center">
            <a href="@Url.Action("Edit","Responsables", new { id = item.Id })" class="text-center btn btn-outline-dark mb-2"><i class="fa fa-pencil-alt"></i></a>
            <a href="@Url.Action("Delete","Responsables", new { id = item.Id })" class="text-center btn btn-outline-danger mb-2"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
}
</table>
